body {
margin: 0;
background-color: #efffff;
}

/*


BANER NA GÓRZE STRONY


 */

.baner h1{
  text-align: center;
  background-color: #2cf4b9;
  padding: 40px;
  margin: 0px;
  font-family: arial;
}

.baner h2{
  text-align: center;
  background-color: #2cf4b9;
  padding-top: 35px;
  padding-bottom: 5px;
  margin: 0px;
  font-family: arial;
}

/*

MENU

*/

.menu { /*wyrównanie całości menu do środka*/
  text-align: center;
  margin: 0px;
}

.menu ul { /*zmniejszenie marginu wokół całego pasma menu*/
  margin: 5px;
}

.menu li{ /*ustalenie wyglądu przycisków menu*/
  display: inline-block;
  text-align: center;
  background-color: #999999;
  padding: 10px;
  margin: 0px;
}

.menu a { /*ustalenie wyglądu tekstu na przyciskach*/
  color: black;
  font-family: arial;
  margin: 0px;
  text-decoration: none;
}

.menu a:hover {
  border-style: inset;
  border-color: #cccccc;
}

/*

TREŚĆ

*/

.tresc {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  width: 70%;
}

.tresc p {
  font-family: arial;
  font-size: 20px;
}


.stopka {
  background-color: #2cf4b9;
  bottom: 0;
  position: absolute;
  text-align: center;
}

.stopka p {
  text-align: center;
}
